---
import BaseLayout from "../../layouts/base-layout.astro";
import BlogPost from "../../components/blog-post.astro";
import { getCollection } from "astro:content";

type Paths = {
  params: { tag: string };
  props: { posts: BlogCollection[] };
};

export async function getStaticPaths(): Promise<Paths[]> {
  const allPosts = await getCollection("posts");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ].reduce(
    (acum: string[], curr: string) =>
      acum.includes(curr) ? acum : [...acum, curr],
    []
  );

  return uniqueTags.map((tag: string) => {
    const filteredPost = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPost },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>

  <ul>
    {
      posts.map((post) => (
        <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
