---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/base-layout.astro";
import BlogPost from "../components/blog-post.astro";

const pageTitle = "My Astro Learning Blog";
const allBlogs = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
  <p>My first blog with Astro</p>

  <ul>
    {
      allBlogs.map((blog) => (
        <BlogPost url={`/posts/${blog.slug}`} title={blog.data.title} />
      ))
    }
  </ul>
</BaseLayout>
