---
import BlogPost from "../components/blog-post.astro";
import BaseLayout from "../layouts/base-layout.astro";
const pageTitle = "My Astro Learning Blog";
const allBlogs = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <p>My first blog with Astro</p>

  <ul>
    {
      allBlogs.map((blog) => (
        <BlogPost url={blog.url} title={blog.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
