---
import Social from "./social.astro";

// type Social = {
//   platform: string;
//   user: string;
// };

const socials: Social[] = [
  {
    platform: "github",
    user: "jdario9912",
  },
  { platform: "linkedin", user: "in/joel-develop" },
];
---

<footer>
  <p>
    Learn more about me and my projects on
    <ul>
      {
        socials.map((social) => (
          <li>
            <Social platform={social.platform}, user={social.user} />
          </li>
        ))
      }
    </ul>
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>